//
// This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
// more information about the licensing of this file.
//

// Bootstrap color :

$body-bg: $main-color;
$body-color: $secondary-text-color;
$headings-color: $main-text-color;

$link-color: #5ca0d3;
$link-hover-color: #00526e;

$dropdown-bg: $main-color;
$dropdown-color: $secondary-text-color;
$dropdown-border-color: $border-color;
$dropdown-link-color: $secondary-text-color;
$dropdown-link-hover-bg: $accent-color;
$dropdown-link-hover-color: $main-text-color;
$dropdown-link-active-color: $main-text-color;
$dropdown-divider-bg: $border-color;

$nav-tabs-link-active-color: $secondary-text-color;

$modal-header-border-color: $border-color;
$modal-content-bg: $main-color;
$modal-content-color: $secondary-text-color;
$modal-content-border-color: $border-color;
$modal-footer-border-color: $body-color;

$close-color: $secondary-text-color;
$close-text-shadow: $main-text-color;

$alert-border-radius: none;

$card-bg: $main-color;
$card-color: $secondary-text-color;
$card-border-color: $border-color;
$card-border-radius: none;
$card-cap-bg: $accent-color;
$card-cap-color: $main-text-color;

$list-group-bg: $main-color;
$list-group-color: $secondary-text-color;
$list-group-hover-bg: $accent-color;
$list-group-border-color: $border-color;
$list-group-border-radius: none;

$list-group-action-color: $secondary-text-color;
$list-group-action-active-bg: $accent-color;
$list-group-action-active-color: $main-text-color;
$list-group-action-hover-color: $main-text-color;

$table-bg: $main-color;
$table-color: $secondary-text-color;
$table-border-color: $border-color;

$btn-border-radius: 0px;

$input-bg: $main-color;
$input-color: $main-text-color;
$input-placeholder-color: $secondary-text-color;
$input-disabled-bg: $accent-color;
$input-border-radius: 0px;

$progress-border-radius: 0px;

$hr-border-color: $border-color;

// Dependencies :

@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../bootstrap/root";
@import "../bootstrap/reboot";
@import "../bootstrap/type";
@import "../bootstrap/images";
@import "../bootstrap/code";
@import "../bootstrap/grid";
@import "../bootstrap/tables";
@import "../bootstrap/forms";
@import "../bootstrap/buttons";
@import "../bootstrap/transitions";
@import "../bootstrap/dropdown";
@import "../bootstrap/button-group";
@import "../bootstrap/input-group";
@import "../bootstrap/custom-forms";
@import "../bootstrap/nav";
@import "../bootstrap/navbar";
@import "../bootstrap/card";
@import "../bootstrap/breadcrumb";
@import "../bootstrap/pagination";
@import "../bootstrap/badge";
@import "../bootstrap/jumbotron";
@import "../bootstrap/alert";
@import "../bootstrap/progress";
@import "../bootstrap/media";
@import "../bootstrap/list-group";
@import "../bootstrap/close";
@import "../bootstrap/toasts";
@import "../bootstrap/modal";
@import "../bootstrap/tooltip";
@import "../bootstrap/popover";
@import "../bootstrap/carousel";
@import "../bootstrap/spinners";
@import "../bootstrap/utilities";
@import "../bootstrap/print";

@import "./INGInious.scss";